body{
    overflow-x: hidden;
    position: relative;
}
header{
    .navbar{
        background-color: #fff!important;
        .container .collapse .navbar-nav{
            .nav-item{
                margin-left: 20px;
                }
            .nav-item:nth-child(5){
                z-index: 10;
                margin-left: 200px;
               .nav-link{
                color: #FF2E63;
                background-color: #fff;
                padding: 10px 30px;
                border-radius: 10px;
               }
            }  
        }
    }
    .cycel-pos{
        position: absolute;
        top:-450px;
        left: 1000px
    };
    .Cómo-funciona{
        margin-top: 100px;
        .Cómo-funciona-text{
            width: 50%;
            h1{
                font-size: 50px;
                width: 75%;
                span{
                    display: inline-block;
                    padding-bottom: 20px;
                    border-bottom: solid 10px #FF2E63 ;
                }
            }
            p{
                opacity: .5;
                margin: 20px 0;
            }
            button{
                background-color: #08D9D6;
                color: #fff;
                padding: 15px 30px;

            }
        }
    .Cómo-funciona-img{
        width: 50%;
        z-index: 20;
        img{
            width: 100%;
        }
    }

    }
}

.Precios {
    position: absolute;
    left: -250px;
}
.Testimonios {
    position: relative;
    padding: 100px;
    margin-top:100px; ;
    .Testimonios-img {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .Testimonios-text{
        width: 50%;
        position: relative;
        h2 {
            font-size: 46px;
            width: 75%;
            color: #FF2E63;
            span{
                display: inline-block;
                padding-bottom: 20px;
                border-bottom: solid 10px #252A34 ;
            }
        }
        p{
            opacity: .5;
            margin: 20px 0;
        }
        button {
            background-color: #252A34;
            color: #fff;
            padding: 15px 30px;

        }

    }
    .Precios-sec {
        position: absolute;
        right: -250px; 
        bottom: 150px;
    }
}

.Contacto {
    height:400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url('../imags/header-tre-img.svg');
   .Contacto-text{
     padding-top: 100px;
   h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
    }
    p {
        color: #fff;
        text-align: center;
    }
    button {
        background-color: #08D9D6;
            color: #fff;
            border-bottom: 15px 30px;    
        position: absolute;
        right: 610px;
    }
}
}
.Descarga {
    display: flex;
    margin-top: 50px;
   
    padding: 30px 40px 40px 40px;
    
   
    .Descarga-text {
        width: 33.333%;
    h1 {
        font-size: 50px;
    }
    ul {
        display: flex;
    
    }
    li {
        display: flex;
        margin-left: 20px;
    }
}
    .Descarga-text-sec {
     width: 33.333%;
     padding: 30px 40px 40px 40px;
        
        
    }
    .Descarga-text-ssa {
        width: 34.333%;
        padding: 30px 40px 40px 40px;
    }
    .Descarga-text-tre {
        width: 32.333%;
        padding: 0px 40px 40px 40px;
        
        p {
            font-size: 10px;

        }
        .img-four {
            display: flex;
            padding: 10px;
        }
    }
}
@media(max-width: 991.98px) {
    
    header .navbar .container .collapse .navbar-nav .nav-item{
        margin: 0;
        position: relative;
    }
    header .navbar .container .collapse .navbar-nav .nav-item:nth-child(5) {
        margin: 0;
    }


header .Cómo-funciona .Cómo-funciona-text {
    width: 100%;
 
    h1{
        text-align: center;
        width: 80%;
        font-size: 20px;
        span{
            padding: 0;
            border-style: none;
        }
    }
    p{
        text-align: center;
        padding: 0;
        font-size: 14px;
        span{
            display: none;
        }
      
    }
    button{
        margin: 10px 0;
        margin-left: 20%;
    }
  }
  header .Cómo-funciona .Cómo-funciona-img{
      width: 100%;

  }
 }
